.save-button, .delete-button {
  align-items: center;
  border-radius: 2px;
  font-family: Verdana , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  height: 40px;
  line-height: 150%;
  width: 115px;
}

.save-button {
  background: rgb(0, 59, 229);
  color: white;
  margin-top: 6em;
  padding: 0.5em;
}

.delete-button {
  background: white;
  border: 1px solid rgb(0, 59, 229);
  color: rgb(0, 59, 229);
  margin-top: 0.75em;
}
