* {
  box-sizing: border-box;
}

.background-cart {
  align-items: center;
  background: linear-gradient(to bottom, hsl(166, 95%, 22%) 6%, white 6%);
  border-color: rgb(3, 107, 82);
  border-radius: 10px;
  border-style: solid;
  border-width: 19px 15px 14px 16px;
  display: flex;
  flex-direction: column;
  height: 529px;
}

.container-name {
  align-items: center;
  background: #023031;
  border-radius: 10px 10px 0 0;
  color: white;
  display: flex;
  height: 40px;
  margin: 0;
  padding: 0 2%;
  width: 100%;
}

.container-image {
  height: 238px;
  width: 100%;
}

.container-attr {
  align-items: center;
  background: white;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  height: 237px;
  justify-content: space-evenly;
  width: 100%;
}
