.cardDescription-label {
  height: 108px;
  width: 355px;
}

.cardDescription-title {
  color: rgb(61, 73, 92);
  font-family: Verdana , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin: 0;
}

.cardDescription-textArea {
  background: white;
  bottom: 0%;
  right: 0%;
}
