.cardDescription-label {
  height: 108px;
  left: 0;
  position: absolute;
  top: 88px;
  width: 355px;
}

.cardDescription-title {
  color: rgb(61, 73, 92);
  font-family: Verdana , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  left: 0%;
  line-height: 150%;
  margin: 0;
  position: absolute;
  top: 0%;
}

.cardDescription-textArea {
  background: white;
  bottom: 0%;
  left: 0%;
  position: absolute;
  right: 0%;
  top: 23%;
}
