.caption-Form, .caption-Deck {
  color: #444955;
  font-family: Epilogue , sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  height: 36px;
  left: 131px;
  line-height: 29px;
  /* position: absolute; */
  width: 355px;
}

.caption-Form {
  margin: 2.8em;
  width: 100%;
}

.caption-Deck {
  top: 155px;
}

.letter-generator {
  background-color: rgb(250, 250, 250);
  display: flex;
  width: 100%;
}

.container-forms-style {
  display: flex;
  flex-direction: column;
  height: 734px;
  width: 398px;
}

.letter-preview {
  background: #023031;
  height: 1056px;
  width: 53%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.letter-forms {
  width: 47%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}


.preview-title {
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.8em;
  margin: 2.8em;
  margin-left: 0.3em;
  width: 61.5%;
}

.container-cart-style, .containeres-carts-style {
  background: white;
  border: 10px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 549px;
  width: 368px;
  box-shadow: 0px 1px 10px #00000087;
}

.container-cart {
  height: 634px;
  width: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.containeres-deck {
  height: 100%;
  left: 540px;
  position: absolute;
  top: 250px;
  width: 894px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.deck-of-cards {
  background-color: rgb(250, 250, 250);
  height: 2391px;
  left: 0;
  position: absolute;
  width: 100%;
}
